#root,
html,
body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ccc;
}

.nav>div:first-child {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* chart styles */

.root {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.container {}

.title {
    /* text-align: center; */
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.subtitle {
    /* text-align: center; */
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.chart {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    width: fit-content;
}

.bar:hover {
    fill: brown;
}

.description {
    margin-top: 10px;
    /* text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end; */
}

.description p {
    margin: 0;
    font-size: 14px;
    max-width: 600px;
    color: grey;
    font-style: italic;
}

/* Scatter Plot */

.dot {
    fill-opacity: 0.5;
    stroke-opacity: 1;
}

/* Heatmap */

.cell:hover {
    stroke: black;
    stroke-width: 2px;
}